{% extends 'layout.html.twig' %}

{# About Page: what is memlight and credits #}

{% set active_page="about" %}

{% block pageName %}{% trans %}About memLight{% endtrans %}{% endblock %}

{% block contentTitle %}{% trans %}About memLight{% endtrans %}{% endblock %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-body">
			<blockquote>{% trans %}memLight is a great way to study subjects where you need to memorize big chunks of information{% endtrans %}.</blockquote>
			
			<hr>
			<h4>{% trans %}Credits{% endtrans %}</h4>
			<p>
				memLight was developed by <a href="https://github.com/federico-terzi" target="_blank" >Federico Terzi</a>, and is Open Source! 
				so <a href="https://github.com/federico-terzi/memLight" target="_blank"> Check it out on GitHub!</a>
			</p>
			<p>
				Home image by Ritesh Man Tamrakar -
				<a href="https://flic.kr/p/9ubMGU" target="_blank" >Flickr Profile</a>
			</p>
			<p>Emoji provided free by http://emojione.com</p>
			<p>Flame by Nadav Barkan from the Noun Project</p>
		</div>
	</div>
{% endblock %}